*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    
}

.decor-cabecalho{
    width: 100%;
    background-color: #fff;
    position: relative;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Primeira linha decorativa - largura total */
.decor-cabecalho::after{
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #e1a543;
}

/* Segunda linha decorativa - largura total */
.decor-cabecalho::before{
    content: '';
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #a1cee4;
    z-index: -1;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    width: 1200px;
    height: 80px;
    margin: 0 auto;
}

.logo{
    width: 100px;   
}

.logo img{
    width: 150px;
    height: auto;
}

.menu{
    display: block;
    gap: 20px;
}

.menu li{
    display: inline-block;
    margin-right: 20px;
}